<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="stretch_description_SE3_DW3_collision.SLDASM5">
  <link
    name="link_wrist_yaw">
    <inertial>
      <origin
        xyz="2.20130857986334E-11 2.93171678765192E-05 -0.0189665926447277"
        rpy="0 0 0" />
      <mass
        value="0.0404746907425004" />
      <inertia
        ixx="6.57801136682346E-06"
        ixy="7.84074223315182E-16"
        ixz="-1.9886743455426E-14"
        iyy="6.58204899910505E-06"
        iyz="-5.83819552651501E-09"
        izz="3.85021258520436E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://stretch_description_SE3_DW3_collision.SLDASM5/meshes/link_wrist_yaw.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://stretch_description_SE3_DW3_collision.SLDASM5/meshes/link_wrist_yaw.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_wrist_yaw_bottom">
    <inertial>
      <origin
        xyz="0.00527946754787309 0.0234404077010779 -0.0338911615528339"
        rpy="0 0 0" />
      <mass
        value="0.479945149794479" />
      <inertia
        ixx="0.000677626708505103"
        ixy="-0.000131416653211878"
        ixz="-4.81767653214766E-05"
        iyy="0.000601520279757542"
        iyz="-4.6946243272376E-05"
        izz="0.000637734093362174" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://stretch_description_SE3_DW3_collision.SLDASM5/meshes/link_wrist_yaw_bottom.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://stretch_description_SE3_DW3_collision.SLDASM5/meshes/link_wrist_yaw_bottom.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_wrist_yaw_bottom"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="3.14159265358979 0 1.5707963267949" />
    <parent
      link="link_wrist_yaw" />
    <child
      link="link_wrist_yaw_bottom" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="link_wrist_pitch">
    <inertial>
      <origin
        xyz="0.00134493095200564 -0.0169963296762481 0.0181750000000039"
        rpy="0 0 0" />
      <mass
        value="0.170682334051998" />
      <inertia
        ixx="0.000111823783539827"
        ixy="5.34026613316324E-19"
        ixz="-1.21179654814497E-21"
        iyy="6.33522116424533E-05"
        iyz="-4.31324114341749E-20"
        izz="0.000133556174788272" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://stretch_description_SE3_DW3_collision.SLDASM5/meshes/link_wrist_pitch.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://stretch_description_SE3_DW3_collision.SLDASM5/meshes/link_wrist_pitch.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_wrist_pitch"
    type="revolute">
    <origin
      xyz="0 0.0194549999999678 -0.0304999999999953"
      rpy="1.5707963267949 0 0" />
    <parent
      link="link_wrist_yaw_bottom" />
    <child
      link="link_wrist_pitch" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_wrist_roll">
    <inertial>
      <origin
        xyz="0 -2.22044604925031E-16 0.0207499999999871"
        rpy="0 0 0" />
      <mass
        value="0.04104" />
      <inertia
        ixx="5.780655E-06"
        ixy="-3.07713808166845E-22"
        ixz="1.2762612936718E-21"
        iyy="5.780655E-06"
        iyz="2.59721224656059E-21"
        izz="1.0944E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://stretch_description_SE3_DW3_collision.SLDASM5/meshes/link_wrist_roll.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://stretch_description_SE3_DW3_collision.SLDASM5/meshes/link_wrist_roll.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_wrist_roll"
    type="revolute">
    <origin
      xyz="-0.0188587444077927 -0.0240000000000002 0.0195500000000002"
      rpy="3.14159265358979 1.5707963267949 0" />
    <parent
      link="link_wrist_pitch" />
    <child
      link="link_wrist_roll" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>