<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="stretch_d435i">

  <xacro:arg name="use_nominal_extrinsics" default="true"/>
  <xacro:arg name="add_plug" default="false"/>
  <xacro:include filename="d405/_d405.urdf.xacro"/>

  <!-- xyz = "
       depth (- recessed into head / + protruding from front)
       up and down (- down / + up)
       sideways (- right / + left)
       " -->
  <xacro:sensor_d405 parent="link_aruco_d405" use_nominal_extrinsics="$(arg use_nominal_extrinsics)">
    <origin
      xyz="0.0 0.0 0.0"
      rpy="0.0 0.0 0.0" />
  </xacro:sensor_d405>

  
</robot>

  

