<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="stretch_description_S2_DexWrist_collision">
  <link
    name="link_wrist_yaw">
    <inertial>
      <origin
        xyz="2.13511708313519E-11 2.9317167203613E-05 -0.0189665926447244"
        rpy="0 0 0" />
      <mass
        value="0.0404746907425004" />
      <inertia
        ixx="6.57801136682346E-06"
        ixy="7.84074076376462E-16"
        ixz="-1.98867516282145E-14"
        iyy="6.58204899910505E-06"
        iyz="-5.83819552651487E-09"
        izz="3.85021258520436E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://stretch_description_S2_DexWrist_collision/meshes/link_wrist_yaw.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://stretch_description_S2_DexWrist_collision/meshes/link_wrist_yaw.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_wrist_yaw_bottom">
    <inertial>
      <origin
        xyz="-0.0683217542302587 0.00538005902573899 -0.0419204938935739"
        rpy="0 0 0" />
      <mass
        value="1.10452404362554" />
      <inertia
        ixx="0.00127801864813811"
        ixy="-0.000516425121091203"
        ixz="-0.000959076023858974"
        iyy="0.00893545742001764"
        iyz="-0.000125396263426211"
        izz="0.00890171644441673" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://stretch_description_S2_DexWrist_collision/meshes/link_wrist_yaw_bottom.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://stretch_description_S2_DexWrist_collision/meshes/link_wrist_yaw_bottom.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_wrist_yaw_bottom"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="3.14159265358979 0 1.5707963267949" />
    <parent
      link="link_wrist_yaw" />
    <child
      link="link_wrist_yaw_bottom" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="link_wrist_pitch">
    <inertial>
      <origin
        xyz="-0.00617937220388573 -0.0139964000000009 0.0207700000000022"
        rpy="0 0 0" />
      <mass
        value="0.15000477021637" />
      <inertia
        ixx="7.61969543459943E-05"
        ixy="1.9663363536316E-20"
        ixz="-8.01773738889141E-20"
        iyy="5.89733516876999E-05"
        iyz="-3.08931134421017E-20"
        izz="8.84047563690512E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://stretch_description_S2_DexWrist_collision/meshes/link_wrist_pitch.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://stretch_description_S2_DexWrist_collision/meshes/link_wrist_pitch.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_wrist_pitch"
    type="revolute">
    <origin
      xyz="0 0.019550000000003 -0.0247499999999998"
      rpy="1.5707963267949 0 0" />
    <parent
      link="link_wrist_yaw_bottom" />
    <child
      link="link_wrist_pitch" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_wrist_roll">
    <inertial>
      <origin
        xyz="-9.50000000021489E-05 0.00199640000010454 0.00725000000016465"
        rpy="0 0 0" />
      <mass
        value="0.0244438960645035" />
      <inertia
        ixx="1.70010385470263E-06"
        ixy="-9.18349126874606E-23"
        ixz="4.22947426121602E-21"
        iyy="1.70010385470263E-06"
        iyz="7.23780352272153E-21"
        izz="2.54365285147829E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://stretch_description_S2_DexWrist_collision/meshes/link_wrist_roll.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://stretch_description_S2_DexWrist_collision/meshes/link_wrist_roll.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_wrist_roll"
    type="revolute">
    <origin
      xyz="-0.0188587444076125 -0.0239999999998942 0.01955"
      rpy="3.14159265358979 1.5707963267949 0" />
    <parent
      link="link_wrist_pitch" />
    <child
      link="link_wrist_roll" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_straight_gripper">
    <inertial>
      <origin
        xyz="5.7184495298207E-05 -0.0157806549633661 0.05314073996998"
        rpy="0 0 0" />
      <mass
        value="0.335402730441026" />
      <inertia
        ixx="0.000417153658167148"
        ixy="-9.82158396097524E-20"
        ixz="1.31789605006073E-18"
        iyy="0.000411516250204736"
        iyz="3.05734171337768E-18"
        izz="0.00017324384229661" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://stretch_description_S2_DexWrist_collision/meshes/link_straight_gripper.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://stretch_description_S2_DexWrist_collision/meshes/link_straight_gripper.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_straight_gripper"
    type="fixed">
    <origin
      xyz="0 0 0.0155"
      rpy="0 0 -3.14159265358979" />
    <parent
      link="link_wrist_roll" />
    <child
      link="link_straight_gripper" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="link_gripper_finger_right">
    <inertial>
      <origin
        xyz="-0.0984333652198142 -0.00569511491683361 1.66533453693773E-16"
        rpy="0 0 0" />
      <mass
        value="0.105960039435584" />
      <inertia
        ixx="2.44270436973041E-05"
        ixy="4.67908503591321E-05"
        ixz="5.56045604994941E-18"
        iyy="0.000322806035440953"
        iyz="-2.0097361514886E-18"
        izz="0.000344248538027489" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://stretch_description_S2_DexWrist_collision/meshes/link_gripper_finger_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://stretch_description_S2_DexWrist_collision/meshes/link_gripper_finger_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_gripper_finger_right"
    type="revolute">
    <origin
      xyz="-0.0185992414250104 0.00300000000000022 0.0336888959851238"
      rpy="1.5707963267949 1.5707963267949 0" />
    <parent
      link="link_straight_gripper" />
    <child
      link="link_gripper_finger_right" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_gripper_fingertip_right">
    <inertial>
      <origin
        xyz="0 5.55111512312578E-17 0.00850000000000001"
        rpy="0 0 0" />
      <mass
        value="0.0272" />
      <inertia
        ixx="4.28173333333334E-06"
        ixy="1.47508445775238E-22"
        ixz="5.29395592047911E-22"
        iyy="4.28173333333334E-06"
        iyz="6.33894078590831E-22"
        izz="7.25333333333334E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://stretch_description_S2_DexWrist_collision/meshes/link_gripper_fingertip_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.250980392156863 0.250980392156863 0.250980392156863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://stretch_description_S2_DexWrist_collision/meshes/link_gripper_fingertip_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_gripper_fingertip_right"
    type="fixed">
    <origin
      xyz="-0.190596948563867 -0.00604200491765763 0"
      rpy="-1.57079632679483 0 0.540456056432235" />
    <parent
      link="link_gripper_finger_right" />
    <child
      link="link_gripper_fingertip_right" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="link_gripper_finger_left">
    <inertial>
      <origin
        xyz="0.0984333652198142 -0.00569511491683372 1.0547118733939E-15"
        rpy="0 0 0" />
      <mass
        value="0.105960039435583" />
      <inertia
        ixx="2.44270436973039E-05"
        ixy="-4.67908503591317E-05"
        ixz="1.18414791944655E-18"
        iyy="0.000322806035440951"
        iyz="1.25226946096361E-18"
        izz="0.000344248538027487" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://stretch_description_S2_DexWrist_collision/meshes/link_gripper_finger_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://stretch_description_S2_DexWrist_collision/meshes/link_gripper_finger_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_gripper_finger_left"
    type="revolute">
    <origin
      xyz="0.0185992414250199 0.0029999999999975 0.0336888959851238"
      rpy="1.5707963267949 -1.5707963267949 0" />
    <parent
      link="link_straight_gripper" />
    <child
      link="link_gripper_finger_left" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_gripper_fingertip_left">
    <inertial>
      <origin
        xyz="-1.11022302462516E-16 0 0.00849999999999998"
        rpy="0 0 0" />
      <mass
        value="0.0272" />
      <inertia
        ixx="4.28173333333334E-06"
        ixy="4.68917677557754E-21"
        ixz="-3.17637355203819E-22"
        iyy="4.28173333333334E-06"
        iyz="-1.1552205921835E-21"
        izz="7.25333333333334E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://stretch_description_S2_DexWrist_collision/meshes/link_gripper_fingertip_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.250980392156863 0.250980392156863 0.250980392156863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://stretch_description_S2_DexWrist_collision/meshes/link_gripper_fingertip_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_gripper_fingertip_left"
    type="fixed">
    <origin
      xyz="0.190596948563867 -0.00604200491765788 0"
      rpy="1.57079632679496 0 2.60113659715756" />
    <parent
      link="link_gripper_finger_left" />
    <child
      link="link_gripper_fingertip_left" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>