<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="stretch_description_S2_gripper_collision">
  <link
    name="link_wrist_yaw">
    <inertial>
      <origin
        xyz="2.20163054454048E-11 2.93171678767135E-05 -0.0189665926447277"
        rpy="0 0 0" />
      <mass
        value="0.0404746907425003" />
      <inertia
        ixx="6.57801136682342E-06"
        ixy="7.84525069465074E-16"
        ixz="-1.98873952977518E-14"
        iyy="6.58204899910501E-06"
        iyz="-5.83819552648394E-09"
        izz="3.85021258520435E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://stretch_description_S2_gripper_collision/meshes/link_wrist_yaw.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://stretch_description_S2_gripper_collision/meshes/link_wrist_yaw.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_gripper">
    <inertial>
      <origin
        xyz="-0.0316442012980554 0.00817993995467658 -0.043555977985241"
        rpy="0 0 0" />
      <mass
        value="0.258292969781737" />
      <inertia
        ixx="0.000189252048963783"
        ixy="-4.23381083217916E-05"
        ixz="-0.00015825951316058"
        iyy="0.00047118690584569"
        iyz="-1.96422981371311E-05"
        izz="0.000411430838406947" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://stretch_description_S2_gripper_collision/meshes/link_gripper.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://stretch_description_S2_gripper_collision/meshes/link_gripper.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_gripper"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="3.14159265358978 0 1.5707963267949" />
    <parent
      link="link_wrist_yaw" />
    <child
      link="link_gripper" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="link_gripper_finger_right">
    <inertial>
      <origin
        xyz="-0.0980613130473141 -0.0102732957636869 5.44009282066327E-15"
        rpy="0 0 0" />
      <mass
        value="0.105960039435583" />
      <inertia
        ixx="2.07205740201001E-05"
        ixy="3.27064683915915E-05"
        ixz="2.21245005822823E-18"
        iyy="0.000326512505118155"
        iyz="-2.06920138934942E-19"
        izz="0.000344248538027487" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://stretch_description_S2_gripper_collision/meshes/link_gripper_finger_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://stretch_description_S2_gripper_collision/meshes/link_gripper_finger_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_gripper_finger_right"
    type="revolute">
    <origin
      xyz="-0.0255806959056143 0.010049241424884 -0.034290000000002"
      rpy="-3.14159265358975 -0.5235987755983 0" />
    <parent
      link="link_gripper" />
    <child
      link="link_gripper_finger_right" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_gripper_fingertip_right">
    <inertial>
      <origin
        xyz="4.49640324973188E-15 -1.83186799063151E-15 0.00849999999999806"
        rpy="0 0 0" />
      <mass
        value="0.0272" />
      <inertia
        ixx="4.28173333333333E-06"
        ixy="-1.6940658945086E-21"
        ixz="2.64697796016969E-22"
        iyy="4.28173333333334E-06"
        iyz="-6.35274710440725E-22"
        izz="7.25333333333334E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://stretch_description_S2_gripper_collision/meshes/link_gripper_fingertip_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.250980392156863 0.250980392156863 0.250980392156863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://stretch_description_S2_gripper_collision/meshes/link_gripper_fingertip_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_gripper_fingertip_right"
    type="fixed">
    <origin
      xyz="-0.19010873186023 -0.0149121660323418 0"
      rpy="-1.57079632679489 0 0.58704614962582" />
    <parent
      link="link_gripper_finger_right" />
    <child
      link="link_gripper_fingertip_right" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="link_gripper_finger_left">
    <inertial>
      <origin
        xyz="0.0980613130473129 0.0102732957637114 -5.82867087928207E-15"
        rpy="0 0 0" />
      <mass
        value="0.105960039435583" />
      <inertia
        ixx="2.07205740200945E-05"
        ixy="3.27064683915638E-05"
        ixz="1.37388744044648E-18"
        iyy="0.000326512505118162"
        iyz="1.83263685764294E-19"
        izz="0.000344248538027487" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://stretch_description_S2_gripper_collision/meshes/link_gripper_finger_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://stretch_description_S2_gripper_collision/meshes/link_gripper_finger_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_gripper_finger_left"
    type="revolute">
    <origin
      xyz="-0.0255806959056143 -0.010150758575116 -0.0342900000000023"
      rpy="0 0.5235987755983 3.14159265358979" />
    <parent
      link="link_gripper" />
    <child
      link="link_gripper_finger_left" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_gripper_fingertip_left">
    <inertial>
      <origin
        xyz="3.60822483003176E-15 1.63757896132211E-15 0.00849999999999652"
        rpy="0 0 0" />
      <mass
        value="0.0272" />
      <inertia
        ixx="4.28173333333334E-06"
        ixy="2.11758236813575E-22"
        ixz="5.29395592033938E-22"
        iyy="4.28173333333334E-06"
        iyz="9.52912065661088E-22"
        izz="7.25333333333334E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://stretch_description_S2_gripper_collision/meshes/link_gripper_fingertip_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.250980392156863 0.250980392156863 0.250980392156863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://stretch_description_S2_gripper_collision/meshes/link_gripper_fingertip_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_gripper_fingertip_left"
    type="fixed">
    <origin
      xyz="0.190108731860228 0.0149121660323729 0"
      rpy="-1.57079632679488 0 -2.55454650396388" />
    <parent
      link="link_gripper_finger_left" />
    <child
      link="link_gripper_fingertip_left" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>